.arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.arrow prev {
    background-image: url("../images/left.jpg");
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow next {
    background-image: url("../images/right.jpg");
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
    opacity:1;
}
.arrow.next:hover{
    opacity:1;
}

.navv {
    bottom: -4px;
    display: inline;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 80%;
    z-index: 5;
}
.navv-profile {
    bottom: -4px;
    height: 24px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 20%;
    white-space: nowrap;
    z-index: 5;
}
.navv li {
    border: 5px solid #AAAAAA;
    border-radius: 5px;
    display: inline;
    height: 10px;
    margin: 0 3px;
    position: relative;
    width: 50px;
    align: left;
}
.navv-profile li {
    border: 0px solid #AAAAAA;
    border-radius: 2px;
    height: 25%;
    margin: 0 3px;
    position: relative;
    display: inline;
    width: 30%;
    align: left;
}
.navv li.active {
    border: 5px solid #FFFFFF;
}

.navv-profileee li.active {
    border: 5px solid #FFFFFF;
}
.navv li img {
    width: 10%;
}
.navv-profile li img {
    width: 300%;
}

.slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 400px;
    margin: 10px auto;
    position: relative;
    width: 920px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slider-profile {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 20%;
    margin: 10px auto;
    position: relative;
    width: 15%;
    left: 1%;
    top: 50%;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
}
.slide-profile {
    position: relative;
    top: 60%;
    left: 1%;
}
