<table style="margin-top:5%;">
    <tr align="top">
        <td valign="top" width="20%">
            <form class="form-vertical" role="form">
                <div>
                    <div class="option-button">
                        <button ng-repeat="x in matches" type="submit" style="white-space: normal;" class="btn btn-block" ng-class="{true: 'btn-info', false: 'btn-default'}[isActive(x.userId)]" ng-click="viewMatch(x.userId)">
                            <table>
                                <tr>
                                    <!--<td>
                                        <div ng-show="x.interestExpressed" class="form-group" style="float: right;">
                                            <img src="/spouzee-api/static/images/green_tick_small.png" title="You have expressed interest" alt="You have expressed interest">
                                        </div>
                                    </td>-->
                                    <td>
                                        <font color="#1e8eb8" size="3"><strong>{{ x.name }}</strong></font><br>
                                        Your expectations met  : <font color="#1e8eb8" size="2"><strong>{{x.selfExpectationMatch}}%</strong></font><br>
                                        Their expectations met : <font color="#1e8eb8" size="2"><strong>{{x.otherExpectationMatch}}%</strong></font>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <div ng-show="x.interestExpressed && !x.respondedToInterest" class="form-group" style="float: right;">
                                                        <img align="right" src="/spouzee-api/static/images/sent.jpg" title="You have expressed interest" alt="You have expressed interest">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div ng-show="x.otherUserExpressedInterest && !x.irespondedToOtherUsersInterest" class="form-group" style="float: right;">
                                                        <img align="right" src="/spouzee-api/static/images/received.jpg" title="Interested in you" alt="You have received response">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div valign="center"  ng-show="x.respondedToInterest || x.irespondedToOtherUsersInterest" class="form-group" style="float: right;">
                                                        <img src="/spouzee-api/static/images/twoWay.png" title="You have received response" alt="You have received response">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </button>
                        <br>
                    </div>
                </div>
                <br>
            </form>
        </td>
        <td width="50%" align="left">
            <div style="overflow:scroll; overflow-x: hidden; height:500px; width:70%;" >
                <div ng-include="'/spouzee-api/reportScrolling.html'" ng-controller="scrollReportCtrl"/>
            </div>
        </td>
    </tr>
</table>