<div class="questions-form" style="top:8%" ng-controller="expectICtrl">
    <font color="#1e8eb8" size="5"><strong>Create Your Questionnaire</strong></font>
    <br>
    <ul>
        <li><h5>Pick from the available questions or create your own questions.</h5></li>
        <li><h5>Creating a questionnaire will help you get clarity from a prospective match
            on specific aspects that are important to you.</h5></li>
        <li><h5>You can also specify what responses you are looking for,
            so we can suggest only the most appropriate matches to you.</h5></li>
    </ul>
    <br>
    <div class="btn-group btn-group-justified">
        <div class="btn-group"><button type="submit" class="btn btn-primary" ng-click="createQuestionnaire()">Create Questionnaire</button></div>
        <div class="btn-group"><button type="submit" class="btn btn-primary" ng-click="skipCreateQuestionnaire()">Skip</button></div>
    </div>
    <!--<table>
        <tr>
            <td style="align:left"><button type="submit" class="btn btn-primary btn-block" ng-click="createQuestionnaire()">Create Questionnaire</button></td>
            <td style="align:right"><button type="submit" class="btn btn-primary btn-block" ng-click="skipCreateQuestionnaire()">Skip</button></td>
        </tr>
    </table>-->
</div>