<div class="header-banner" ng-controller="headerCtrl">
    <div ng-show="userCreated && profileCreated">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#questions">
                        <img class="header-logo" src="/spouzee-api/static/images/blocked_eclipse_dkblue_cropped_v2.png" align="left">
                    </a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#match"><font color="white" size="2"><strong>Home</strong></font></a></li>
                        <li><a href="#questions"><font color="white" size="2"><strong>My Responses</strong></font></a></li>
                        <li><a href="#details"><font color="white" size="2"><strong>Profile</strong></font></a></li>
                        <li><a href="#invite"><font color="white" size="2"><strong>Search</strong></font></a></li>
                        <li><a href="#expect"><font color="white" size="2"><strong>My Questionnaire</strong></font></a></li>
                        <li><a href="" ng-click="fbLogoutUser()"><font color="white" size="2"><strong>Logout</strong></font></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div ng-show="userCreated && !profileCreated">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#questions">
                        <img class="header-logo" src="/spouzee-api/static/images/blocked_eclipse_dkblue_cropped_v2.png" align="left">
                    </a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="" ng-click="fbLogoutUser()"><font color="white" size="2"><strong>Logout</strong></font></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div ng-show="!userCreated && !profileCreated">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">
                        <img class="header-logo" src="/spouzee-api/static/images/blocked_eclipse_dkblue_cropped_v2.png" align="left">
                    </a>
                </div>
                <!--<div class="nav navbar-nav navbar-right">
                    <input type="image" class="fblogin-button" src="/spouzee-api/static/images/facebook-button-big2.png" ng-click="checkLoginState()"/>
                </div>-->
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#value"><font color="white" size="2"><strong>Why Spouzee</strong></font></a></li>
                        <li><a href="#how"><font color="white" size="2"><strong>How it works</strong></font></a></li>
                        <li><a href="#faqs"><font color="white" size="2"><strong>FAQs</strong></font></a></li>
                        <li><a href="" ng-click="checkLoginState()"><font color="white" size="2"><strong>Login with Facebook</strong></font></a></li>
                        <!--<li><input type="image" class="fblogin-button" src="/spouzee-api/static/images/fb_login_small.png" ng-click="checkLoginState()"/></li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>