<div class="container" ng-controller="loginCtrl">
    <div id="loginSplashImage" ng-show="showLogin"></div>
    <form class="login-form" ng-show="showLogin">
        <table>
            <tr>
                <!--<td>
                    <input type="image" class="fblogin-button" src="/spouzee-api/static/images/facebook-button-big2.png" ng-click="checkLoginState()"/>
                </td>-->
                <!--<td>
                    <div class="login-email">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model="email">
                    </div>
                </td>
                <td>
                    <div class="login-password">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="New Password" required ng-model="password">
                    </div>
                </td>
                <td>
                    <div class="login-signup">
                        <button class="btn btn-primary btn-block" ng-click="postCredentials()">Sign in</button>
                    </div>
                </td>-->
            </tr>
        </table>
        <!--<input type="image" src="/spouzee-api/static/images/facebook-button-big.png" ng-click="checkLoginState()"/>
        &lt;!&ndash;<button class="btn btn-lg btn-primary btn-block" ng-click="checkLoginState()">Login with Facebook</button>&ndash;&gt;
        <br><br><br>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="New Password" required ng-model="password">
        <br>
        <button class="btn btn-lg btn-primary btn-block" ng-click="postCredentials()">Sign in</button>-->
    </form>
    <!--<div id="wrapper">
        <div id="loginSplashImage"></div>
    </div>-->
</div>